# Hệ điều hành
.DS_Store
Thumbs.db
desktop.ini

# Trình soạn thảo & IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Nhật ký & Tệp tạm
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.temp/
.tmp/
chrome_temp_profile/
